<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Athena awesome website! bla bla bla">
        <meta name=”robots” content="index, follow">
        <meta property="og:title" content="athena.app">
        <meta name="description" content="Athena awesome website! bla bla bla">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://athena.app/">
        <meta property="og:image" content="{{ url_for('static', filename='athena_splash.png') }}">
        <link rel="canonical" href="https://athena.app/">
        <title>Welcome Athena!</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='athena_logo_32x32.png') }}">
        <script src="{{ url_for('static', filename='athena.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='athena.css') }}">
    </head>
    <body>

    {% block content %} {% endblock %}

    </body>
</html>